.tic-tac-toe {
    width: 450px;
    height: 450px;
    border: 4px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 50px auto;

    &__cell {
        border: 1px solid gray;
        font-weight: 900;
        text-align: center;
        line-height: 145px;
        font-size: 150px;;
        cursor: pointer;
        overflow: hidden;
        user-select: none;
        transition: var(--transition);

        &:hover, &:active, &:focus {
            transition: var(--transition);
            background-color: rgba(0,0,0,0.1);
        }
    }
}
