*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  position: relative;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 150%;
  font-weight: inherit;
  font-style: inherit;
  color: #000000;
  vertical-align: baseline;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

:root {
  --widthContent: 1100px;
  --transitionFast: 100ms;
  --transition: 200ms;
}

.container {
  max-width: var(--widthContent) !important;
  width: 90% !important;
  margin: 0 auto;
}
