.mode {
    background: antiquewhite;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    transition: 300ms;
    opacity: 0.6;

    &.active {
        background: burlywood;
        transition: 300ms;
        opacity: 1;
    }
}
